<lasso-page package-path="./browser.json" />
 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Marko + Lasso</title>
        <lasso-head/>
    </head>
    <body>
        <app />
        <lasso-body/>
    </body>
</html>