/* Fonts */
@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff')
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff')
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff')
}

@font-face {
    font-family: Whitney;
    font-style: semibold;
    font-weight: 650;
    src: url(/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff')
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff')
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #2C2F33;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

main {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

section {
    width: 700px;
    max-width: 94%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    /* Mobile */
    section {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #eee;
}